.section-form {
    padding: 4rem 0;
}

.section-form .section__heading {
    color: var(--color-neutral-100);
}

.section-form__description {
    padding: 0 1rem;
    font-size: var(--fs-100);
    color: var(--color-primary-200);
    text-align: center;
}

@media screen and (min-width: 550px) {
    .section-form__description {
        padding: 0;
    }
}

.section-form__description:nth-of-type(2) {
    line-height: 1.7;
}

.section-form__description span{
    font-weight: var(--fw-bold);    
    color: var(--color-primary-100);
}

